<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>rss-ios-iphone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F8ACB6AD1831767A00AFAA25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8ACB6C81831767B00AFAA25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>d6faad198b408f0f28de5b4e</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
